.cardButton {
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px solid #4D4D4D;
  border-radius: 8px;

  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
  backdrop-filter: blur(24px);
  span {
    font-size: 0.9375rem;
  }
}

.cardSize {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px solid #4D4D4D;

  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
  backdrop-filter: blur(24px);
  width: 4.25rem;
  height: 4.875rem;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  span {
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color:white;
  }
}

.ferramentas {
  background-image: var(--bg-tools) !important;
  background-color: #4D4D4D;
}