@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-home: url('./assets/bg-home.png');
  --width-size: 76.96%;
  --green-400: #2A7C32;
  --white: #fff;
}

* {
  margin-top: 0;
  padding: 0;
}

